.img-profile {
    display: block;
    margin: auto;
    margin-top: 2rem;
    height: 10rem;
    width: 10rem;
  }
  
  
  .username-profile{
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: bolder;
  }
  
 

  .post-container{
    height: 31rem;
    width: 76vw;
    padding: 2px;
    margin-left: 12vw;
    display: flex;
  }
  .crd{
    height: 20rem;
    width: 13rem;
    border-radius: 5px;
    padding: 5px;
  }