* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
}

.title-bar {
  height: 3.5%;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  outline: none;
  color: white;
}

.menu-bar {
  width: 100%;
  height: 4%;
  background-color: yellow;
  display: flex;
  align-items: center;
}

.menu-bar p {
  margin: 0;
  width: 3.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar p:hover,
.selected-menu {
  background-color: green;
  color: aliceblue;
}

.menu-options {
  height: 8%;
  width: 100%;
  border: 1px solid;
  display: flex;
}

.formula-bar {
  height: 4%;
  width: 100%;
  background-color: aqua;
}

.formula-bar input {
  border: 1px solid #079992;
  height: 100%;
  outline: none;
}

#select-cell {
  width: 20%;
}

#complete-formula {
  width: 80%;
}

.grid {
  height: 76.5%;
  width: 100%;
  background-color: coral;
  position: relative;
  overflow: auto;
  /* padding-left: 30px; */
  padding-top: 30px;
}

.sheets-bar {
  height: 4%;
  width: 100%;
  border: 1px solid;
}

.sheets-bar div {
  height: 100%;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.menu-options div {
  border: 1px solid;
  height: 100%;
}

.biu,
.color,
.align-txt {
  width: 15%;
}

.font-styles {
  width: 25%;
}

.menu-options div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* ------------------------------day2----------------- */

.blank-corner {
  height: 30px;
  width: 30px;
  background-color: #079992;
  position: fixed;
  top: 19.5vh;
  z-index: 3;
}

.column-tags {
  position: absolute;
  top: 0;
  left: 30px;
  display: flex;
}
.column-tag {
  height: 30px;
  width: 80px;
  background-color: aliceblue;
  border: 1px solid;
  text-align: center;
  padding-top: 3.5px;
}
.row-tags {
  position: absolute;
  top: 30px;
}

.row-numbers {
  height: 30px;
  width: 30px;
  background-color: aliceblue;
  text-align: center;
  border: 1px solid;
  padding-top: 5px;
}

.row {
  display: flex;
  margin-left: 30px;
}
.cell {
  height: 30px;
  width: 80px;
  border: 1px solid;
  flex-shrink: 0;
  outline: none;
}

.grid-selected-cell{
  border: 3px solid #34ace0;

}