.h1 {
  font-family: "Arial";
  font-size: 54px;
  color: #333333;
  font-weight: bold;
  /* fill: red; */
}
.svg{
    height: 100%;
    margin-left: 10%;
}
.p2 {
  font-family: "Arial";
  font-size: 9px;
  fill: #333;
  /* fill: red; */
}
.p3 {
  font-family: "Arial";
  font-size: 9px;
  fill: #333;
  word-spacing: 4px;
  /* fill: red; */
}
.p2b {
  font-family: "Arial";
  font-size: 11px;
  font-weight: 600;
  fill: #333;
  /* fill: red; */
}
.h2 {
  font-family: "Arial";
  font-size: 11px;
  fill: #6094ce;
  font-weight: 600;
  /* fill: red; */
}
.subheding {
  font-family: "Arial";
  font-size: 10px;
  fill: #767774;
  font-weight: 600;
  /* fill: red; */
}
.li-disc {
  fill: #333;
  /* fill: red; */
}
.text-cap {
    font-size: 29px;
    fill: #6094ce;
    font-family: "Arial";
}
.line {
  stroke: #fff;
  stroke: #090;
}
